Django==4.1.3
tweepy
textblob
pandas
numpy
matplotlib
django-environ
psycopg2
psycopg2-binary
django-crispy-forms
wordcloud
requests
requests-oauthlib
twarc
nltk
stop-words
networkx
gunicorn
dj-database-url