{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div id="layoutSidenav_content">
	<main>
		<div class="container-fluid px-4">
			<h1 class="mt-4">Query tweets</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">Here you can query any keyword and get tweets.<br> Note that you can not query less than 500 entries. <br> It's recommended to query more than 1000 tweets in order to get meaningful results.</li>
			</ol>
			<div class="card mb-4">
				<div class="card-body">
					<p class="mb-0">
						<form action="collected" method="post">
							{% csrf_token %}
							{{ ff|crispy }}<br>
							<button type="submit" class="btn btn-primary">Collect Tweets</button>
					</p>
				</div>
			</div>
			<div style="height: 100vh"></div>
			<div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
		</div>
	</main>
	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; Your Website 2022</div>
				<div>
					<a href="#">Privacy Policy</a>
					&middot;
					<a href="#">Terms &amp; Conditions</a>
				</div>
			</div>
		</div>
	</footer>
</div>
{% endblock %}