{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <div class="container">
        <h1 id="header-h1" style="color: rgb(0, 0, 0); font-size:30px;">Your Queries</h1>
        <p id="header-paragraph">Here you can view your all queries</p>
            <div class="btn-group-vertical">
               
                {% for query in queries %}
                <ul class="list-group list-group-horizontal-lg">
                    <a class="btn" style="color: white; background-color: #fd5e14; margin: 10px"type="submit" id="body-link-row">{{query.query}}</a>
                    <p>{{query.date}}</p>
                </ul>
                  {% endfor %}
            </div>
    </div>
{% endblock content %}