{% extends 'users/base.html' %}
{% load static %}

{% block content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body">Primary Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body">Warning Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body">Success Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body">Danger Card</div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <a class="small text-white stretched-link" href="#">View Details</a>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-area me-1"></i>
                                Area Chart Example
                            </div>
                            <div class="card-body"><canvas id="myAreaChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-chart-pie me-1"></i>
                                Sentiment Distribution
                            </div>
                            <script>
                                var mylist = JSON.parse("{{values}}")
                            </script>
                            <div class="card-body"><canvas id="myPieChart" width="100%" height="40"></canvas></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie me-1"></i>
                            Wordcloud For Positive Tweets
                        </div>
                        <div class="card-body"><canvas id="word-cloud" width="100%" height="100%"></canvas></div>
                        <script>
                            // Get the data for the word cloud from the template context
                            var words = {{ wordcloudpos|safe }};
                              
                            // Resize the canvas element when the window is resized
                            window.addEventListener('resize', function() {
                                var canvas = document.getElementById('word-cloud');
                                canvas.width = 0.8 * window.innerWidth;
                                canvas.height = 0.8 * window.innerHeight;
                            });
                            window.dispatchEvent(new Event('resize'));
                                
                            // Create the word cloud using the wordcloud2.js library
                            WordCloud(document.getElementById('word-cloud'), { list: words, rotateRatio: 0.5,});
                        </script>
                    </div>   

                    
                </div>
                <div class="row">
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-chart-pie me-1"></i>
                            Wordcloud For Negative Tweets
                        </div>
                        <div class="card-body"><canvas id="wordcloudneg" width="100%" height="100%"></canvas></div>
                        <script>
                            // Get the data for the word cloud from the template context
                            var words2 = {{ wordcloudneg|safe }};
                              
                            // Resize the canvas element when the window is resized
                            window.addEventListener('resize', function() {
                                var canvas = document.getElementById('wordcloudneg');
                                canvas.width = 0.8 * window.innerWidth;
                                canvas.height = 0.8 * window.innerHeight;
                            });
                            window.dispatchEvent(new Event('resize'));
                                
                            // Create the word cloud using the wordcloud2.js library
                            WordCloud(document.getElementById('wordcloudneg'), { list: words2, rotateRatio: 0.5,});
                        </script>
                    </div>                
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Query Tweets
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Tweet</th>
                                    <th>Sentiment</th>
                                    <th>Location</th>
                                    <th>Like Count</th>
                                    <th>Retweet Count</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Username</th>
                                    <th>Tweet</th>
                                    <th>Sentiment</th>
                                    <th>Location</th>
                                    <th>Like Count</th>
                                    <th>Retweet Count</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for tweet in tweetdata %} 
                                <tr>
                                    <td>{{tweet.user}}</td>
                                    <td>{{tweet.tweet}}</td>
                                    <td>{{tweet.sentiment}}</td>
                                    <td>{{tweet.location}}</td>
                                    <td>{{tweet.like_count}}</td>
                                    <td>{{tweet.retweet_count}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>             
    </div>
</div>
<p>{{wordcloudneg}}</p>


    <script src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet" href= "https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
<link rel= "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css"/>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js"></script>

<body>
    

{% endblock content %}